body{
    background-color: aqua;
}

img{
    border-radius: 150px;
    height: 150px;
    width: 150px;

}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}

a{
    font-size: 20px;
}


